<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="http://sowmya89.github.io//resume/index.html">RESUME</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	    		    <li><a href="mailto:sowmya.prakash1@gmail.com">email</a></li>
	        		<li><a href="https://github.com/sowmya89">github.com/sowmya89</a></li>
        		  <li><a href="https://www.linkedin.com/in/prakashsowmya">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
